/* base */
body {
    font-size: 62.5%;
    box-sizing: border-box;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
/* timeline */
.chat-timeline {
    position: fixed;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    min-width: 480px;
    padding: 30px;
    background-color: #88a4d4;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.chat-timeline > .conversation-balloon {
    margin-bottom: 30px;
}
.conversation-balloon.my {
    text-align: right;
}
.conversation-balloon.my > .avatar {
    float: right;
}
.conversation-balloon.my > .message {
    margin-right: 20px;
    background-color: #85ff49;
    text-align: left;
}
.conversation-balloon.my > .message::before {
    right: -20px;
    transform: rotate(-25deg);
    border-left: 18px solid #85ff49;
}
.conversation-balloon.other {
    text-align: left;
}
.conversation-balloon.other > .avatar {
    float: left;
}
.conversation-balloon.other > .message {
    margin-left: 20px;
    background-color: #fff;
}
.conversation-balloon.other > .message::before {
    left: -20px;
    transform: rotate(25deg);
    border-right: 18px solid #fff;
}
.conversation-balloon > .avatar {
    width: 80px;
}
.conversation-balloon > .avatar::after {
    clear: both;
}
.conversation-balloon > .avatar > img {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.conversation-balloon > .avatar > .name {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1rem;
    word-wrap: break-word;
}
.conversation-balloon > .message {
    display: inline-block;
    max-width: 280px;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 1.3rem;
    min-height: 30px;
    word-wrap: break-word;
    position: relative;
}
.conversation-balloon > .message::before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    border: 8px solid transparent;
}
/* form */
.chat-form {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
}
.form-container {
    position: relative;
    height: 40px;
}
.form-container > .message {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 80px;
    width: 100%;
    font-size: 1.3rem;
    padding: 0 20px;
}
.form-container > .submit {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80px;
    text-align: center;
    background-color: #4f83e1;
    color: white;
    font-size: 1.6rem;
}
